* {
    margin: 0px;
    padding: 0px;
}

img {
    width: 180px;
    height: 180px;
    border-radius: 3%;
}

#container {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    width: 180px;
    border-radius: 3%;
}

#container h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    font-size: 15px;
    color: #1f3251;
}

#text {
    color: #7b879d;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 11px;
}